HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Build
build/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Local Environment Config
src/main/resources/application-local.properties
.env